.page {
  font-family: Arial, sans-serif;
  height: 100%;
}

.page__body {
  margin: 0;
}

.body {
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
