@import 'base.css';

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/montserrat/montserrat-extra-bold.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/montserrat/montserrat-bold.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/montserrat/montserrat-semi-bold.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/montserrat/montserrat-medium.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/montserrat/montserrat-regular.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/public/fonts/montserrat/montserrat-light.woff2');
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.page__body {
  margin: 0;
}

.body {
  height: 100%;
}

.app-wrapper {
  height: 100%;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
